@-moz-document domain("folio.ebsco.com") {
    .overlayContainer---PCLop {
        background: #0000007a
    }
    .modal---ey0q6 {
        background: #8b8b8b
    }
    .paneContent---S1ltP {
        background: #cfcfcf
    }
    }