@-moz-document domain("fivecolleges-test.folio.ebsco.com") {
    .navRoot---Zh1Si {
        background-image: linear-gradient(#1eff00, #0bf)
    }
    a.navButton---wRwTS, button.navButton---wRwTS {
        color: #000
    }
    .navRoot---Zh1Si {
            color: #000;
    }
    }