@-moz-document domain("fivecolleges.folio.ebsco.com") {
    .navRoot---Zh1Si {
        background: linear-gradient(#ff3f00, #ff0)
    }
    a.navButton---wRwTS, button.navButton---wRwTS {
        color: #000
    }
    .navRoot---Zh1Si {
            color: #000;
    }
    }